.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #E1D4BB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  /* margin: auto; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.exit-bttn {
  position: absolute;
  top: 4rem;
  left: 4rem; 
  background-color: #537188;
  color: white;
  border: none;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  width: 4rem;
  box-shadow: 0 3px 0px 0px #3c607b;
  cursor: pointer;
  transition: all 0.2s ease;

  border-radius: 70%;
}
